<!DOCTYPE html>
<html>
  <head>
    <title>ProjectTao Dashbord</title>
    <!-- Bootstrap -->
    <link href="/media/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
    body {
      padding-top: 60px;
    }
    .footer{
      background-color: #EEEEEE;
    }
    </style>

  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a href="#" class="brand">ProjectTao</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">首页</a></li>
              <li><a href="/users/">用户</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      {% block content %}{% endblock %}
    </div>

    <script src="/media/js/jquery.js"></script>
    <script src="/media/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
