{%extends "base.html"%}

{% block content %}
<legend>对话Training</legend>
  <label>Tao：Hello world. Training me please :)</label>

<form class="form-inline" action="/train/" method="post">
  <label>You：</label><input type="text" name="input_">
  <button type="submit" class="btn">输入</button>
</form>
{% endblock%}